/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* atributos generales */

@media (max-width: 600px) {
    img {
        max-width: 100%;
    }
    .container {
        width: 100%;
        margin: 0 auto;
    }
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.ocultar-seccion {
    display: none!important;
}

/*atributos de cada seccion*/

.contenedor-header {
    padding-top: 5rem;
}

p, a {
    font-family: 'Assistant', sans-serif;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GlacialIndifferenceRegular', sans-serif;
    font-weight: 'bolder';
}

.contenedor-navegacion .nav-header a {
    color: #5ba7d1;
    text-decoration: none;
    margin-left: 1rem;
    transition: 0.3s;
}

.contenedor-navegacion .nav-header a:hover {
    color: #335384;
    border: #335384;
}

.contenedor-navegacion nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0rem;
}

.contenedor-navegacion nav a i {
    color: #335384;
    font-size: 3rem;
    margin-right: .5rem;
}

@media (max-width: 600px) {
    .contenedor-header .contenedor-navegacion {
        display: none;
    }
}

.contenedor-presentacion {
    display: grid;
    grid-template-columns: 65% 35%;
    margin: 0 3rem;
}

@media (max-width: 600px) {
    .contenedor-presentacion {
        display: block;
        width: 85%!important;
    }
}

.contenedor-presentacion .contenedor-parrafo-bio h1 {
    font-size: 4rem;
    margin: 0;
    color: #335384;
}

.contenedor-presentacion .contenedor-parrafo-bio h3 {
    font-size: 2rem;
    margin: 0;
    color: #5ba7d1;
}

.contenedor-imagen-bio img {
    max-width: 37rem;
    max-height: 37rem;
}

@media (max-width: 600px) {
    .contenedor-imagen-bio img {
        max-width: 100%;
    }
}

/* CONTENEDOR FLECHA PASAJE A LA SECTION DE TECNOLOGIAS */

.contenedor-flecha-abajo {
    display: flex;
    justify-content: center;
}

.contenedor-flecha-abajo i {
    color: #335384;
    font-size: 5rem;
}

/* SECCION TECNOLOGIAS */

main .contenedor-tecnologias {
    display: grid;
    grid-template-columns: 40% 60%;
}

@media (max-width: 600px) {
    main .contenedor-tecnologias {
        display: block;
    }
}

@media (max-width: 600px) {
    main .contenedor-tecnologias .contenedor-imagen-main {
        max-width: 15rem;
        display: block;
    }
    main .contenedor-tecnologias .contenedor-imagen-main img {
        text-align: center;
    }
    main div .contenedor-texto-main {
        text-align: center;
    }
}

main div .contenedor-texto-main h2 {
    color: #335384;
    font-size: 3rem;
}

main div .contenedor-texto-main h3 {
    color: #5ba7d1;
    font-size: 1.5rem;
}

main div .contenedor-imagen-main {
    text-align: center;
    padding: 1rem;
}

/*barra progreso*/

.contenedor-main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600) {
    .contenedor-main {
        min-width: 90%!important;
        margin: 0;
    }
}

.contenedor-tech {
    width: 40%;
    border-radius: 5px;
    justify-content: space-around;
    background-color: rgba(200, 200, 200, .3);
    padding: 1rem;
    margin: 2rem 0;
}

@media (max-width: 600px) {
    .contenedor-tech {
        width: 80%;
    }
}

.contenedor-tech h2 {
    text-align: center;
    color: #335384;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 3rem;
    margin: 0;
}

.contenedor-tech div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 600px) {
    .imagen-tech {
        width: 8rem;
    }
}

.imagen-tech {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1fr;
    text-align: center;
    color: #5ba7d1;
    font-weight: bolder;
    font-size: 1rem;
    text-transform: uppercase;
    max-width: 12rem!important;
    margin: 0 1rem;
}

.imagen-tech p {
    text-align: center;
    margin: 0;
}

.imagen-tech img {
    max-width: 100%;
}

/*proyectos trabajados*/

.contenedor-section h2 {
    text-align: center;
    color: #335384;
    font-size: 4rem;
    font-weight: bolder;
}

.contenedor-proyectos {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-proyectos iframe {
    width: 20rem;
    height: 40rem;
    margin: 2rem;
    padding: 1rem;
    width: 100%;
}

/*formulario*/

.articulo-formulario {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

article .contenedor-formulario {
    border-radius: 5px;
    padding: 5rem;
    background-color: rgba(51, 83, 132, .8);
}

article .contenedor-formulario h1 {
    color: white;
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
}

.grupo-formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Assistant', sans-serif;
    margin-bottom: .5rem;
}

.grupo-formulario input {
    color:white;
    list-style: none;
    border: none;
    font-family: 'Assistant', sans-serif;
    text-align: justify;
    padding: .8rem 2rem;
    width: 100%;
    background: rgba(51, 83, 132, .8);
}
.grupo-formulario input::placeholder {
    color:white;
}

.grupo-formulario-textarea {
    font-family: 'Assistant', sans-serif;
    display: flex;
    flex-direction: column;
}

.grupo-formulario-textarea textarea {
    background: rgba(51, 83, 132, .8);
    display: block;
    min-height: 4rem;
    max-height: 6rem;
    font-family: 'Assistant', sans-serif;
    text-align: justify;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
}
.grupo-formulario-textarea textarea::placeholder {
    color: white;
}

.grupo-btn {
    display: flex;
    justify-content: flex-end;
}

.grupo-btn .btn-enviar {
    background-color: #335384;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem 0rem;
}

/*footer*/

.container-footer {
    color: white;
    font-family: 'Assistant', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(51, 83, 132, .8);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden, [hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active, .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *::before, *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]::after {
        content: " (" attr(href) ")";
    }
    abbr[title]::after {
        content: " (" attr(title) ")";
    }
    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after, a[href^="javascript:"]::after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}